{% extends 'base.html' %}

{% block content %}

<body>
  <div class="container"><br><br><br>
        
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

      <h2>Catalogo de Cuentas</h2><br><br>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">Codigo</th>
              <th scope="col">Nombre de la Cuenta</th>
              <th scope="col">Tipo de Cuenta</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="background: #06281e; color: white;">1</td>
              <td style="background: #06281e; color: white;">ACTIVO</td>
              <td style="background: #06281e; color: white;"></td>
            </tr>
            <tr>
              <td style="background: #0d503c; color: white;">11</td>
              <td style="background: #0d503c; color: white;">ACTIVO CORRIENTE</td>
              <td style="background: #0d503c; color: white;"></td>
            </tr>
            <tr>
              <td style="background: #13795b; color: white;">1101</td>
              <td style="background: #13795b; color: white;">EFECTIVO Y EQUIVALENTES DE EFECTIVO</td>
              <td style="background: #13795b; color: white;"></td>
            </tr>
            <tr>
              <td style="background: #13795b; color: white;">1101.01</td>
              <td style="background: #13795b; color: white;">CAJA</td>
              <td style="background: #13795b; color: white;"></td>
            </tr>
            <tr>
              <td>1101.01.01</td>
              <td>Caja General</td>
              <td>Activo</td>
            </tr>
            <tr>
              <td>1101.01.02</td>
              <td>Caja Chica</td>
              <td>Activo</td>
            </tr>
            <tr>
              <td style="background: #13795b; color: white;">1101.02</td>
              <td style="background: #13795b; color: white;">BANCOS MONEDA NACIONAL</td>
              <td style="background: #13795b; color: white;"></td>
            </tr>
            <tr>
              <td style="background: #13795b; color: white;">1101.02.01</td>
              <td style="background: #13795b; color: white;">CUENTA CORRIENTE</td>
              <td style="background: #13795b; color: white;"></td>
            </tr>
            <tr>
              <td>1101.02.01.01</td>
              <td>Banco de América Central, S.A.</td>
              <td>Activo</td>
            </tr>
            <tr>
              <td>1101.02.01.02</td>
              <td>Banco Cuscatlán de El Salvador, S.A.</td>
              <td>Activo</td>
            </tr>
            <tr>
              <td>1101.02.01.03</td>
              <td>Banco Davivienda, S.A.</td>
              <td>Activo</td>
            </tr>
            <tr>
              <td>1101.02.01.04</td>
              <td>Banco Agrícola, S.A.</td>
              <td>Activo</td>
            </tr>
            <tr>
              <td style="background: #13795b; color: white;">1101.02.02</td>
              <td style="background: #13795b; color: white;">CUENTA DE AHORRO</td>
              <td style="background: #13795b; color: white;"></td>
            </tr>
            <tr>
              <td>1101.02.02.01</td>
              <td>Banco de América Central, S.A.</td>
              <td>Activo</td>
            </tr>
            <tr>
              <td>1101.02.02.02</td>
              <td>Banco Cuscatlán de El Salvador, S.A.</td>
              <td>Activo</td>
            </tr>
            <tr>
              <td>1101.02.02.03</td>
              <td>Banco Davivienda, S.A.</td>
              <td>Activo</td>
            </tr>
            <tr>
              <td>1101.02.02.04</td>
              <td>Banco Agrícola, S.A.</td>
              <td>Activo</td>
            </tr>
            <tr>
              <td style="background: #13795b; color: white;">1102</td>
              <td style="background: #13795b; color: white;">CUENTAS Y DOCUMENTOS POR COBRAR</td>
              <td style="background: #13795b; color: white;"></td>
            </tr>
            <tr>
              <td>1102.01</td>
              <td>Cuentas por Cobrar Clientes</td>
              <td>Activo</td>
            </tr>
            <tr>
              <td>1102.02</td>
              <td>Préstamos a funcionarios y empleados</td>
              <td>Activo</td>
            </tr>
            <tr>
              <td>1102.03</td>
              <td>Documentos por cobrar</td>
              <td>Activo</td>
            </tr>
            <tr>
              <td style="background: #13795b; color: white;">1103</td>
              <td style="background: #13795b; color: white;">ESTIMACIÓN PARA CUENTAS INCOBRABLES</td>
              <td style="background: #13795b; color: white;"></td>
            </tr>
            <tr>
              <td>1103.01</td>
              <td>Estimación para cuentas incobrables</td>
              <td>Activo</td>
            </tr>
            <tr>
              <td style="background: #13795b; color: white;">1104</td>
              <td style="background: #13795b; color: white;">GASTOS PAGADOS POR ANTICIPADO</td>
              <td style="background: #13795b; color: white;"></td>
            </tr>
            <tr>
              <td>1104.01</td>
              <td>Seguros pagados por anticipado</td>
              <td>Activo</td>
            </tr>
            <tr>
              <td>1104.02</td>
              <td>Alquileres pagados por anticipado</td>
              <td>Activo</td>
            </tr>
            <tr>
              <td>1104.03</td>
              <td>Papelería y útiles</td>
              <td>Activo</td>
            </tr>
            <tr>
              <td>1104.04</td>
              <td>Contratos por servicios</td>
              <td>Activo</td>
            </tr>
            <tr>
              <td>1104.05</td>
              <td>Otros gastos pagados por anticipado</td>
              <td>Activo</td>
            </tr>
            <tr>
              <td style="background: #13795b; color: white;">1105</td>
              <td style="background: #13795b; color: white;">PAGO A CUENTA - ISR</td>
              <td style="background: #13795b; color: white;"></td>
            </tr>
            <tr>
              <td>1105.01</td>
              <td>Pago a cuenta ISR</td>
              <td>Activo</td>
            </tr>
            <tr>
              <td style="background: #13795b; color: white;">1106</td>
              <td style="background: #13795b; color: white;">CREDITO FISCAL - IVA</td>
              <td style="background: #13795b; color: white;"></td>
            </tr>
            <tr>
              <td>1106.01</td>
              <td>IVA credito fiscal</td>
              <td>Activo</td>
            </tr>
            <tr>
              <td style="background-color: #0d503c; color: white;">12</td>
              <td style="background-color: #0d503c; color: white;">ACTIVO NO CORRIENTE</td>
              <td style="background-color: #0d503c; color: white;"></td>
            </tr>
            <tr>
              <td style="background: #13795b; color: white;">1201</td>
              <td style="background: #13795b; color: white;">PROPIEDADES, PLANTA Y EQUIPO</td>
              <td style="background: #13795b; color: white;"></td>
            </tr>
            <tr>
              <td>1201.01</td>
              <td>Mobiliario y equipo</td>
              <td>Activo</td>
            </tr>
            <tr>
              <td>1201.01.01</td>
              <td>Mobiliario y equipo de Oficina</td>
              <td>Activo</td>
            </tr>
            <tr>
              <td>1201.01.02</td>
              <td>Equipo de cómputo</td>
              <td>Activo</td>
            </tr>
            <tr>
              <td>1201.02</td>
              <td>Herramientas y equipos</td>
              <td>Activo</td>
            </tr>
            <tr>
              <td>1201.03</td>
              <td>Depreciación acumulada - Propiedades, planta y equipo</td>
              <td>Activo</td>
            </tr>
            <tr>
              <td>1201.03.01</td>
              <td>Depreciación acumulada de mobiliario y equipo</td>
              <td>Activo</td>
            </tr>
            <tr>
              <td>1201.03.01.01</td>
              <td>Depreciación acumulada de Mobiliario y equipo de oficina</td>
              <td>Activo</td>
            </tr>
            <tr>
              <td>1201.03.01.02</td>
              <td>Depreciación acumulada de equipo de cómputo</td>
              <td>Activo</td>
            </tr>
            <tr>
              <td>1201.03.01.03</td>
              <td>Depreciación acumulada de otros equipos</td>
              <td>Activo</td>
            </tr>
            <tr>
              <td>1201.03.02</td>
              <td>Depr. acum. revaluación mobiliario y equipo</td>
              <td>Activo</td>
            </tr>
            <tr>
              <td style="background: #13795b; color: white;">1202</td>
              <td style="background: #13795b; color: white;">INTANGIBLES</td>
              <td style="background: #13795b; color: white;"></td>
            </tr>
            <tr>
              <td>1201.01.01</td>
              <td>Patentes y marcas</td>
              <td>Activo</td>
            </tr>
            <tr>
              <td>1202.02</td>
              <td>Licencias y concesiones</td>
              <td>Activo</td>
            </tr>
            <tr>
              <td>1202.03</td>
              <td>Programas y sistemas</td>
              <td>Activo</td>
            </tr>
            <tr>
              <td>1202.06</td>
              <td>Amortización acumulada de activos intangibles</td>
              <td>Activo</td>
            </tr>
            <tr>
              <td>1202.06.01</td>
              <td>Amortización acumulada de patentes y marcas</td>
              <td>Activo</td>
            </tr>
            <tr>
              <td>1202.06.02</td>
              <td>Amortización acumulada de licencias y concesiones</td>
              <td>Activo</td>
            </tr>
            <tr>
              <td>1202.06.03</td>
              <td>Amortización acumulada de programas y sistemas</td>
              <td>Activo</td>
            </tr>
            <tr>
              <td style="background: #13795b; color: white;">1203</td>
              <td style="background: #13795b; color: white;">CUENTAS POR COBRAR A LARGO PLAZO</td>
              <td style="background: #13795b; color: white;"></td>
            </tr>
            <tr>
              <td>1203.01</td>
              <td>Clientes / Largo plazo</td>
              <td>Activo</td>
            </tr>
            <tr>
              <td style="background: #13795b; color: white;">1204</td>
              <td style="background: #13795b; color: white;">IMPUESTO SOBRE LA RENTA DIFERIDO - ACTIVO</td>
              <td style="background: #13795b; color: white;"></td>
            </tr>
            <tr>
              <td>1204.01</td>
              <td>Crédito ISR años anteriores</td>
              <td>Activo</td>
            </tr>
            <tr>
              <td>1204.02</td>
              <td>Activo por Impuesto S/ Renta Diferido</td>
              <td>Activo</td>
            </tr>

            <tr>
              <td style="background: #653208; color: white;">2</td>
              <td style="background: #653208; color: white;">PASIVO</td>
              <td style="background: #653208; color: white;"></td>
            </tr>
            <tr>
              <td style="background: #984c0c; color: white;">21</td>
              <td style="background: #984c0c; color: white;">PASIVO CORRIENTE</td>
              <td style="background: #984c0c; color: white;"></td>
            </tr>
            <tr>
              <td style="background: #ca6510; color: white;">2101</td>
              <td style="background: #ca6510; color: white;">PRÉSTAMOS A CORTO PLAZO Y SOBREGIROS</td>
              <td style="background: #ca6510; color: white;"></td>
            </tr>
            <tr>
              <td>2101.01</td>
              <td>Sobregiros bancarios</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td>2101.02</td>
              <td>Préstamos bancarios (porción a corto plazo)</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td>2101.03</td>
              <td>Préstamos personales (porción a corto plazo)</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td style="background: #ca6510; color: white;">2102</td>
              <td style="background: #ca6510; color: white;">CUENTAS COMERCIALES POR PAGAR</td>
              <td style="background: #ca6510; color: white;"></td>
            </tr>
            <tr>
              <td>2102.01</td>
              <td>Documentos por pagar</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td style="background: #ca6510; color: white;">2103</td>
              <td style="background: #ca6510; color: white;">ACREEDORES VARIOS</td>
              <td style="background: #ca6510; color: white;"></td>
            </tr>
            <tr>
              <td>2103.01</td>
              <td>Cuota patronal ISSS</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td>2103.02</td>
              <td>Cuota patronal AFP</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td>2103.03</td>
              <td>IVA por pagar</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td>2103.04</td>
              <td>Pago a cuenta</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td>2103.05</td>
              <td>Impuestos municipale</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td>2103.06</td>
              <td>Otros impuestos por pagar</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td>2103.07</td>
              <td>Intereses por pagar</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td>2103.08</td>
              <td>Honorarios por pagar</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td>2103.09</td>
              <td>Alquileres por pagar</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td>2103.11</td>
              <td>Anticipos de clientes</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td>2103.12.01</td>
              <td>Provisiones de caja chica</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td>2102.01</td>
              <td>Caja chica por reintegrar</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td>2103.12.02</td>
              <td>Provisiones de arrendamiento</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td>2103.13</td>
              <td>Otras cuentas por pagar</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td style="background: #ca6510; color: white;">2104</td>
              <td style="background: #ca6510; color: white;">RETENCIONES POR PAGAR</td>
              <td style="background: #ca6510; color: white;"></td>
            </tr>
            <tr>
              <td>2104.01</td>
              <td>Cotización ISSS / Salud</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td>2104.02</td>
              <td>Cotización a fondo de pensiones</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td>2104.02.01</td>
              <td>ISSS provisional</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td>2104.02.02</td>
              <td>AFP Crecer</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td>2104.02.03</td>
              <td>AFP Confía</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td>2104.03</td>
              <td>Retención de Impuesto sobre la Renta</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td>2104.04</td>
              <td>Retención F. S. V.</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td>2104.05</td>
              <td>Órdenes de descuentos - bancos y otras financieras</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td>2104.06</td>
              <td>Procuraduría General de la República</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td>2104.07</td>
              <td>Otras retenciones</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td style="background: #ca6510; color: white;">2105</td>
              <td style="background: #ca6510; color: white;">BENEFICIOS A EMPLEADOS POR PAGAR</td>
              <td style="background: #ca6510; color: white;"></td>
            </tr>
            <tr>
              <td>2105.01</td>
              <td>Sueldos por pagar</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td>2105.02</td>
              <td>Comisiones por pagar</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td>2105.03</td>
              <td>Horas extras por pagar</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td>2105.04</td>
              <td>Vacaciones por pagar</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td>2105.05</td>
              <td>Aguinaldos por pagar</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td>2105.06</td>
              <td>Gratificaciones y bonificaciones por pagar</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td>2105.07</td>
              <td>Indemnizaciones por pagar</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td>2105.08</td>
              <td>Bonificaciones por pagar</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td>2105.09</td>
              <td>Otros beneficios a empleados por pagar</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td style="background: #ca6510; color: white;">2106</td>
              <td style="background: #ca6510; color: white;">IMPUESTO SOBRE LA RENTA POR PAGAR</td>
              <td style="background: #ca6510; color: white;"></td>
            </tr>
            <tr>
              <td>2106.01</td>
              <td>Impuesto sobre la Renta - Corriente</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td>2106.02</td>
              <td>Pago a cuenta</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td style="background: #ca6510; color: white;">2107</td>
              <td style="background: #ca6510; color: white;">IVA - DÉBITO FISCAL</td>
              <td style="background: #ca6510; color: white;"></td>
            </tr>
            <tr>
              <td>2107.01</td>
              <td>IVA - débito fiscal</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td style="background: #984c0c; color: white;">22</td>
              <td style="background: #984c0c; color: white;">PASIVO NO CORRIENTE</td>
              <td style="background: #984c0c; color: white;"></td>
            </tr>
            <tr>
              <td style="background: #ca6510; color: white;">2201</td>
              <td style="background: #ca6510; color: white;">PRÉSTAMOS POR PAGAR A LARGO PLAZO</td>
              <td style="background: #ca6510; color: white;"></td>
            </tr>
            <tr>
              <td>2201.01</td>
              <td>Préstamos bancarios (Porción a largo plazo)</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td>2201.02</td>
              <td>Préstamos personales (Porción a largo plazo)</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td style="background: #ca6510; color: white;">2202</td>
              <td style="background: #ca6510; color: white;">BENEFICIOS POR PAGAR A EMPLEADOS - LARGO PLAZO</td>
              <td style="background: #ca6510; color: white;"></td>
            </tr>
            <tr>
              <td>2202.01</td>
              <td>Indemnizaciones por pagar</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td>2202.02</td>
              <td>Otras prestaciones por pagar a largo plazo</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td style="background: #ca6510; color: white;">2203</td>
              <td style="background: #ca6510; color: white;">IMPUESTO SOBRE LA RENTA DIFERIDO - PASIVO</td>
              <td style="background: #ca6510; color: white;"></td>
            </tr>
            <tr>
              <td>2203.01</td>
              <td>Pasivo por Impuesto sobre la Renta diferido</td>
              <td>Pasivo</td>
            </tr>
            <tr>
              <td style="background-color: #2c0b0e; color: white;">3</td>
              <td style="background-color: #2c0b0e; color: white;">PATRIMONIO</td>
              <td style="background-color: #2c0b0e; color: white;"></td>
            </tr>
            <tr>
              <td style="background: #58151c; color: white;">31</td>
              <td style="background: #58151c; color: white;">CAPITAL Y RESERVAS</td>
              <td style="background: #58151c; color: white;"></td>
            </tr>
            <tr>
              <td style="background: #842029; color: white;">3101</td>
              <td style="background: #842029; color: white;">CAPITAL SOCIAL</td>
              <td style="background: #842029; color: white;"></td>
            </tr>
            <tr>
              <td>3101.01</td>
              <td>Capital social</td>
              <td>Patrimonio</td>
            </tr>
            <tr>
              <td style="background: #842029; color: white;">3102</td>
              <td style="background: #842029; color: white;">RESERVA LEGAL</td>
              <td style="background: #842029; color: white;"></td>
            </tr>
            <tr>
              <td>3102.01</td>
              <td>Reserva legal</td>
              <td>Patrimonio</td>
            </tr>
            <tr>
              <td style="background: #842029; color: white;">3103</td>
              <td style="background: #842029; color: white;">SUPERAVIT POR REVALUACIONES</td>
              <td style="background: #842029; color: white;"></td>
            </tr>
            <tr>
              <td>3103.01</td>
              <td>Superavit por revaluaciones</td>
              <td>Patrimonio</td>
            </tr>
            <tr>
              <td style="background: #58151c; color: white;">32</td>
              <td style="background: #58151c; color: white;">RESULTADOS POR APLICAR</td>
              <td style="background: #58151c; color: white;"></td>
            </tr>
            <tr>
              <td style="background: #842029; color: white;">3201</td>
              <td style="background: #842029; color: white;">UTILIDADES DE EJERCICIOS ANTERIORES</td>
              <td style="background: #842029; color: white;"></td>
            </tr>
            <tr>
              <td>3201.01</td>
              <td>Utilidades de ejercicios anteriores</td>
              <td>Patrimonio</td>
            </tr>
            <tr>
              <td style="background: #842029; color: white;">3202</td>
              <td style="background: #842029; color: white;">UTILIDAD DEL PRESENTE EJERCICIO</td>
              <td style="background: #842029; color: white;"></td>
            </tr>
            <tr>
              <td>3202.01</td>
              <td>Utilidad del presente ejercicio</td>
              <td>Patrimonio</td>
            </tr>
            <tr>
              <td style="background: #842029; color: white;">3203</td>
              <td style="background: #842029; color: white;">DÉFICIT DE EJERCICIOS ANTERIORES</td>
              <td style="background: #842029; color: white;"></td>
            </tr>
            <tr>
              <td>3203.01</td>
              <td>Déficit de ejercicios anteriores</td>
              <td>Patrimonio</td>
            </tr>
            <tr>
              <td style="background: #842029; color: white;">3204</td>
              <td style="background: #842029; color: white;">DÉFICIT DEL PRESENTE EJERCICIO</td>
              <td style="background: #842029; color: white;"></td>
            </tr>
            <tr>
              <td>3204.01</td>
              <td>Déficit del presente ejercicio</td>
              <td>Patrimonio</td>
            </tr>
            <tr>
              <td style="background: #290661; color: white;">4</td>
              <td style="background: #290661; color: white;">CUENTAS DE RESULTADO DEUDORAS</td>
              <td style="background: #290661; color: white;"></td>
            </tr>
            <tr>
              <td style="background: #3d0a91; color: white;">41</td>
              <td style="background: #3d0a91; color: white;">COSTOS Y GASTOS DE OPERACIÓN</td>
              <td style="background: #3d0a91; color: white;"></td>
            </tr>
            <tr>
              <td style="background: #520dc2; color: white;">4101</td>
              <td style="background: #520dc2; color: white;">COSTO DE VENTAS</td>
              <td style="background: #520dc2; color: white;"></td>
            </tr>
            <tr>
              <td>4101.01</td>
              <td>Costo de servicio</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td>4101.01.01</td>
              <td>Costos por servicios</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td>4101.01.02</td>
              <td>CIF Control (Real)</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td style="background: #520dc2; color: white;">4102</td>
              <td style="background: #520dc2; color: white;">GASTOS ADMINISTRATIVOS</td>
              <td style="background: #520dc2; color: white;"></td>
            </tr>
            <tr>
              <td>4102.01</td>
              <td>Gastos de personal</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td>4102.01.01</td>
              <td>Salarios</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td>4102.01.02</td>
              <td>Vacaciones</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td>4102.01.03</td>
              <td>Aguinaldos</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td>4102.01.04</td>
              <td>Bonificaciones y gratificaciones</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td>4102.01.05</td>
              <td>Horas extras</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td>4102.01.06</td>
              <td>Indemnizaciones</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td>4102.01.07</td>
              <td>Viáticos</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td>4102.01.08</td>
              <td>Cuota patronal seguridad social ISSS</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td>4102.01.09</td>
              <td>Cuota patronal fondo de pensiones AFP</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td>4102.01.10</td>
              <td>Comisiones, premios e incentivos</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td>4102.01.11</td>
              <td>Otros gastos del personal</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td style="background: #520dc2; color: white;">4102.02</td>
              <td style="background: #520dc2; color: white;">GASTOS DE MANTENIMEINTO</td>
              <td style="background: #520dc2; color: white;"></td>
            </tr>
            <tr>
              <td>4102.02.01</td>
              <td>Mantenimiento de Mobiliario Equipo De Oficina</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td>4102.02.02</td>
              <td>Otros gastos por mantenimiento</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td style="background: #520dc2; color: white;">4102.03</td>
              <td style="background: #520dc2; color: white;">GASTOS POR SERVICIOS PÚBLICOS Y PRIVADO</td>
              <td style="background: #520dc2; color: white;"></td>
            </tr>
            <tr>
              <td>4102.03.01</td>
              <td>Servicio de agua</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td>4102.03.02</td>
              <td>Servicio de energía eléctrica</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td>4102.03.03</td>
              <td>Servicio de internet</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td>4102.03.04</td>
              <td>Publicidad y promoción</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td>4102.03.05</td>
              <td>Otros servicios</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td style="background: #520dc2; color: white;">4102.04</td>
              <td style="background: #520dc2; color: white;">HONORARIOS PROFESIONALES</td>
              <td style="background: #520dc2; color: white;"></td>
            </tr>
            <tr>
              <td>4102.04.01</td>
              <td>Honorarios legales</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td>4102.04.02</td>
              <td>Honorarios contables</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td>4102.04.03</td>
              <td>Honorarios de auditoría</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td>4102.04.04</td>
              <td>Honorarios por servicios administrativos</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td>4102.04.05</td>
              <td>Otros honorarios</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td style="background: #520dc2; color: white;">4102.05</td>
              <td style="background: #520dc2; color: white;">GASTOS POR DEPRECIACIÓN</td>
              <td style="background: #520dc2; color: white;"></td>
            </tr>
            <tr>
              <td>4102.05.01</td>
              <td>Depreciación de Mobiliario y Equipo de Oficina</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td>4102.05.02</td>
              <td>Depreciación de Herramientas y Equipo Pequeño</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td style="background: #520dc2; color: white;">4102.06</td>
              <td style="background: #520dc2; color: white;">GASTOS POR AMORTIZACIÓN</td>
              <td style="background: #520dc2; color: white;"></td>
            </tr>
            <tr>
              <td>4102.06.01</td>
              <td>Amortización de activos intangibles</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td style="background: #520dc2; color: white;">4102.07</td>
              <td style="background: #520dc2; color: white;">GASTOS POR SEGUROS</td>
              <td style="background: #520dc2; color: white;"></td>
            </tr>
            <tr>
              <td>4102.07.01</td>
              <td>Seguro de vida y medico</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td>4102.07.02</td>
              <td>Seguro de activos</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td style="background: #520dc2; color: white;">4102.09</td>
              <td style="background: #520dc2; color: white;">GASTOS A CLIENTES Y EMPLEADOS</td>
              <td style="background: #520dc2; color: white;"></td>
            </tr>
            <tr>
              <td>4102.09.01</td>
              <td>Atención a empleados</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td>4102.09.02</td>
              <td>Atención a Clientes</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td>4102.07.02</td>
              <td>Seguro de activos</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td>4102.09.03</td>
              <td>Cursos de capacitación a empleados</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td>4102.09.04</td>
              <td>Otras atenciones a clientes y empleado</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td style="background: #3d0a91; color: white;">42</td>
              <td style="background: #3d0a91; color: white;">OTROS COSTOS Y GASTOS</td>
              <td style="background: #3d0a91; color: white;"></td>
            </tr>
            <tr>
              <td style="background: #520dc2; color: white;">4201</td>
              <td style="background: #520dc2; color: white;">GASTOS FINANCIEROS</td>
              <td style="background: #520dc2; color: white;"></td>
            </tr>
            <tr>
              <td>4201.01</td>
              <td>Intereses sobre préstamos</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td>4201.02</td>
              <td>Comisiones</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td>4201.03</td>
              <td>Seguros</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td>4201.04</td>
              <td>Impuesto a las Operaciones Financieras</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td style="background: #520dc2; color: white;">4202</td>
              <td style="background: #520dc2; color: white;">PÉRDIDA EN VENTA O RETIRO DE ACTIVOS FIJOS</td>
              <td style="background: #520dc2; color: white;"></td>
            </tr>
            <tr>
              <td>4202.01</td>
              <td>Pérdida en venta o retiro de activos fijos</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td style="background: #520dc2; color: white;">4203</td>
              <td style="background: #520dc2; color: white;">GASTOS POR DETERIORO EN EL VALOR DE ACTIVOS</td>
              <td style="background: #520dc2; color: white;"></td>
            </tr>
            <tr>
              <td>4203.01</td>
              <td>Gastos por deterioro en el valor de activos</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td style="background: #520dc2; color: white;">4204</td>
              <td style="background: #520dc2; color: white;">PÉRDIDAS POR SINIESTROS</td>
              <td style="background: #520dc2; color: white;"></td>
            </tr>
            <tr>
              <td>4204.01</td>
              <td>Pérdidas por siniestros</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td style="background: #520dc2; color: white;">4205</td>
              <td style="background: #520dc2; color: white;">GASTOS DE EJERCICIOS ANTERIORES</td>
              <td style="background: #520dc2; color: white;"></td>
            </tr>
            <tr>
              <td>4205.01</td>
              <td>Gastos de ejercicios anteriores</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td style="background: #520dc2; color: white;">4206</td>
              <td style="background: #520dc2; color: white;">OTROS GASTOS</td>
              <td style="background: #520dc2; color: white;"></td>
            </tr>
            <tr>
              <td>4206.01</td>
              <td>Otros Gastos no Clasificados</td>
              <td>Resultado deudoras</td>
            </tr>
            <tr>
              <td style="background: #052c65; color: white;">5</td>
              <td style="background: #052c65; color: white;">CUENTAS DE RESULTADO ACREEDORAS</td>
              <td style="background: #052c65; color: white;"></td>
            </tr>
            <tr>
              <td style="background: #084298; color: white;">51</td>
              <td style="background: #084298; color: white;">INGRESOS POR VENTAS Y SERVICIOS</td>
              <td style="background: #084298; color: white;"></td>
            </tr>
            <tr>
              <td style="background: #0a58ca; color: white;">5101</td>
              <td style="background: #0a58ca; color: white;">INGRESOS OPERACIONALES</td>
              <td style="background: #0a58ca; color: white;"></td>
            </tr>
            <tr>
              <td>5101.01</td>
              <td>Ventas locales</td>
              <td>Resultado acreedoras</td>
            </tr>
            <tr>
              <td>5101.01.01</td>
              <td>Ventas a consumidor final</td>
              <td>Resultado acreedoras</td>
            </tr>
            <tr>
              <td>5101.02</td>
              <td>Descuentos sobre ventas</td>
              <td>Resultado acreedoras</td>
            </tr>
            <tr>
              <td>5101.03</td>
              <td>Penalizaciones sobre ventas</td>
              <td>Resultado acreedoras</td>
            </tr>
            <tr>
              <td style="background: #084298; color: white;">52</td>
              <td style="background: #084298; color: white;">OTROS PRODUCTOS</td>
              <td style="background: #084298; color: white;"></td>
            </tr>
            <tr>
              <td style="background: #0a58ca; color: white;">5201</td>
              <td style="background: #0a58ca; color: white;">PRODUCTOS FINANCIEROS</td>
              <td style="background: #0a58ca; color: white;"></td>
            </tr>
            <tr>
              <td>5201.01</td>
              <td>Intereses bancarios</td>
              <td>Resultado acreedoras</td>
            </tr>
            <tr>
              <td>5201.02</td>
              <td>Otros Intereses</td>
              <td>Resultado acreedoras</td>
            </tr>
            <tr>
              <td style="background: #0a58ca; color: white;">5202</td>
              <td style="background: #0a58ca; color: white;">GANANCIA EN VENTA DE ACTIVOS FIJOS</td>
              <td style="background: #0a58ca; color: white;"></td>
            </tr>
            <tr>
              <td>5202.01</td>
              <td>Ganancia en venta de activos fijos</td>
              <td>Resultado acreedoras</td>
            </tr>
            <tr>
              <td style="background: #0a58ca; color: white;">5203</td>
              <td style="background: #0a58ca; color: white;">INDEMNIZACIONES POR SINIESTROS</td>
              <td style="background: #0a58ca; color: white;"></td>
            </tr>
            <tr>
              <td>5203.01</td>
              <td>Indemnizaciones por siniestros</td>
              <td>Resultado acreedoras</td>
            </tr>
            <tr>
              <td style="background: #0a58ca; color: white;">5204</td>
              <td style="background: #0a58ca; color: white;">OTROS PRODUCTOS</td>
              <td style="background: #0a58ca; color: white;"></td>
            </tr>
            <tr>
              <td>5204.01</td>
              <td>Comisiones</td>
              <td>Resultado acreedoras</td>
            </tr>
            <tr>
              <td>5204.02</td>
              <td>Otros productos</td>
              <td>Resultado acreedoras</td>
            </tr>
            <tr>
              <td style="background: #032830; color: white;">6</td>
              <td style="background: #032830; color: white;">CUENTA DE CIERRE</td>
              <td style="background: #032830; color: white;"></td>
            </tr>
            <tr>
              <td style="background: #055160; color: white;">61</td>
              <td style="background: #055160; color: white;">CUENTA LIQUIDADORA</td>
              <td style="background: #055160; color: white;"></td>
            </tr>
            <tr>
              <td style="background: #087990; color: white;">6101</td>
              <td style="background: #087990; color: white;">PÉRDIDAS Y GANANCIAS</td>
              <td style="background: #087990; color: white;"></td>
            </tr>
            <tr>
              <td>6101.01</td>
              <td>Pérdidas y ganancias</td>
              <td>cuenta de cierre</td>
            </tr>
            <tr>
              <td>6101.02</td>
              <td>Variación de CIF</td>
              <td>cuenta de cierre</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
</div><br><br>
</body>

{% endblock %}