<div class="px-3 py-2 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
            <a href="/" class="d-flex align-items-center text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"/>
                </svg>
                <span class="fs-4">SoluCode</span>
            </a>
            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                <li>
                    <a href="{% url 'inicio' %}" class="nav-link text-white">
                        <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
                        Inicio
                    </a>
                </li>
                <li>
                    <a href="{% url 'formtransaccion' %}" class="nav-link text-white">
                        <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
                        Transacciones
                    </a>
                </li>
                <li>
                    <a href="{% url 'libro_mayor' %}" class="nav-link text-white">
                        <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
                        Libro Mayor
                    </a>
                </li>
                <li>
                    <a href="{% url 'calcular_costo_mano_obra' %}" class="nav-link text-white">
                        <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
                        Costo de Mano de Obra
                    </a>
                </li>
                <li>
                    <a href="{% url 'lista_puestos' %}" class="nav-link text-white">
                        <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
                        Puestos de trabajo
                    </a>
                </li>
                <li>
                    <a href="{% url 'calcular_costos_indirectos' %}" class="nav-link text-white">
                        <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
                        Costos Indirectos
                    </a>
                </li>
                <li>
                    <a href="{% url 'costo_ucp' %}" class="nav-link text-white">
                        <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
                        Metodo UCP
                    </a>
                </li>
                <li>
                    <a href="{% url 'costo_venta' %}" class="nav-link text-white">
                        <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
                        Costo de Venta
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>