{% extends 'base.html' %}

{% block content %}

    <body>

    <div class="container mt-5 d-flex justify-content-center"><br><br><br>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-8">
                <h2 style="text-align: center;">SoluCode S.A.</h2>
                <h3 style="text-align: center;">Balance General</h3>
                <h3 style="text-align: center;">del 1 de enero al 30 de diciembre</h3>
                <form enctype="multipart/form-data" method="post">
                    <div class="row">
                        <div class="col-md-5">
                        </div>
                </form>
                <br><br>
            </div>
        </div>
        <br><br><br>
        <div class="row">
            <div class="container">
                <div class="table-responsive" style="border-color: black;">
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                        <tr>
                            <th style="text-align: center;">Nombre de la Cuenta</th>
                            <th style="text-align: center;">Debe</th>
                            <th style="text-align: center;">Haber</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for cuenta in catalogo_cuentas %}
                            <tr>
                                <td>{{ cuenta.nombreDeCuenta }}</td>
                                <td> $ {{ cuenta.debe|default:"0"|floatformat:2 }}</td>
                                <td> $ {{ cuenta.haber|default:"0"|floatformat:2 }}</td>
                            </tr>
                        {% endfor %}
                        <!-- Mostrar la cuenta 7101 al final -->
                        {% if cuenta_7101 %}
                            <tr>
                                <td>{{ cuenta_7101.nombreDeCuenta }}</td>
                                <td> $ {{ cuenta_7101.saldo_deudor|default:"0"|floatformat:2 }}</td>
                                <td> $ {{ cuenta_7101.saldo_acreedor|default:"0"|floatformat:2 }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td><strong>Total</strong></td>
                            <td><b>${{ total_debe|floatformat:2 }}</b></td>
                            <td><b>${{ total_haber|floatformat:2 }}</b></td>
                        </tr>
                        </tfoot>
                    </table>
                    <br><br><br>
                </div>
            </div>
        </div>
    </div>

    </div>

    </body>
{% endblock %}